* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 100%); 
}




.max-width-wrapper{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}


.intro-chunk{
  /* margin-top:60px; */
}

.indented-heading{
  background-color:hsl(45,100%,70%) ;
  margin: 0 0 0 -32px;
  width: max-content;
  padding: 16px 32px 15px ;
  border-bottom: 8px solid hsl(45,100%,40%) ;
  
  
}

header{
  margin: 80px 0;
}

main{
  background-color: hsl(0deg 0% 44%);
  padding: 72px 0; 
}

section{
  /* padding: 15px; */
}

.card{
  background-color: hsl(0, 0%, 100%);
  padding: 8px 24px 24px;   
}

